Makefile
Makefile.in~
config.log
config.status
extractlevel
ftscalibrate
ftscombine
ftsintensity
ftsresponse
generatesyn
generatesyn_writelines
src/kzline.o
src/line.o
src/listcal.o
src/xgline.o
xgcatlin
xgfit
xgsave
.gitignore~
